<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="urlabsolutifier" type="Paraesthesia.Web.Configuration.UrlAbsolutifier.UrlAbsolutifierSection, Paraesthesia.Web.UrlAbsolutifierModule"/>
	</configSections>
	<urlabsolutifier>
		<add process="Include" type="Paraesthesia.Web.Configuration.UrlAbsolutifier.UrlRegexRule, Paraesthesia.Web.UrlAbsolutifierModule" value="IncludedByUrlRegex\.aspx" />
		<add process="Include" type="Paraesthesia.Web.Configuration.UrlAbsolutifier.HandlerTypeRule, Paraesthesia.Web.UrlAbsolutifierModule" value="TestWebApp.IncludedByHandlerType, TestWebApp" />
	</urlabsolutifier>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
		<httpModules>
			<add name="urlabsolutifier" type="Paraesthesia.Web.UrlAbsolutifierModule, Paraesthesia.Web.UrlAbsolutifierModule"/>
		</httpModules>
	</system.web>
</configuration>
